.form-label {
  font-weight: 600;
  color: #495057;
  font-size: 0.875rem;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  border: none;

  .card-body {
    font-size: 0.875rem;
    color: #343a40;
  }
}

.form-control,
.form-select {
  font-size: 0.875rem;
  border-radius: 0.5rem;
}

button.btn {
  font-weight: 600;
  border-radius: 50px;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}