.text-primary {
  color: 	#334155 !important; /* Replace with your desired color */
}

.btn-primary{
  background-color: #ef7247 !important;
  border-color: #c65833;
}

.btn-primary:hover{
  background-color: #ef7247 !important;
  border-color: #c65833;
}